<html>
	<head>
			<title>Blog Rudzkiej</title>
	</head>
	<body>
		<div>
			<h1><a href="">Blog Rudzkiej</a></h1>
		</div>

		<div>
		<p>opublikowano 06/24/2017, 16:27</p>
		<h2><a href="">Pierwszy wpis</a></h2>
		<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div>

        <div>
            <p>opublikowano 06/24/2017, 16:27</p>
            <h2><a href="">Drugi wpis</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>

		
	</body>
</html>